html { 
  background-color: rgb(177, 156, 102);
  background-size: cover;
}

.App {
  text-align: center;
}

ul {
  list-style-type:none;
}
a:link {
  text-decoration: none;
}
a:active {
  font-size: 20px;
  color: white;
}

h1 {
  color: white;
}

/*************App.js***********/


.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: gold;
}
  .menu-bar {
    width: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-weight: bold;
    font-style: italic;

border: solid 1px pink;
  }
  #user-name {
    width: 100px;
    height: 20px;

    font-weight: bold;
border: solid 1px plum;
  }

  .slide-container {
    width: 70%;
    margin: auto; }
  
  h3 {
    text-align: center; }
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 600px;
  }
  
  .each-slide span {
    padding: 20px;

    color: white;
    font-size: 30px;
    background: lightslategray;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }

/*************Login.js***********/

.login-title {
  color: white;
  font-size: 28px;

  margin: 50px 0 100px auto;
}

.login-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
  .input-container {
    width: 100%;
    height: 300px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

  }

  .text-input {
    font-size: 18px;
    border-radius: 5px;
    
    background-color: lightgoldenrodyellow
  }

  .email-input-box {
    grid-column: 2/3;
    grid-row: 1;

    font-size: 18px;
    color: white;
  }
  .password-input-box {
    grid-column: 2/3;
    grid-row: 2;

    font-size: 18px;
    color: white;

  }
  #auth-result-msg-id {
    grid-column: 2/3;
    grid-row: 3;

    font-size: 18px;

    color : red;
    height: 20px;
  }

  .login-button-row {
    grid-column: 2/3;
    grid-row: 4;

    font-size: 14px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .form-button {
    width: 100px;
    height: 32px;
    font-size: 18px;
    border: solid 1px #545871;
    border-radius: 5px;
    background-color: antiquewhite;
  }


/*************Review.js***********/

.store-select-list {
  width: 50px;
  height: 30px;
  font-size: 20px;

  color: lightslategray
}

.store-desc-box {
  margin: 0 0 auto;
  width: 100%;
  font-size: 18px;

  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

  .store-img {
    width: 500px;
    height: 400px;
  }

  .store-address {
    width: 300px;
    margin: 0;
    padding-top: 80px;

    color: white;
  }
    .address-txt {
      margin: 0;
      padding: 0;
    }
  
.review-form {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
}
  #add-result-area {
    height: 18px;
    margin-left: 12px;
    color: red;
  }
    .select-input-box {
      width: 60%;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

    }
      .score-selections {
        background-color: antiquewhite;
        
        font-size: 16px;
        border-radius: 5px;
      }

    .textAreaInput {
      font-size: 16px;
      
      border-radius: 5px;
    }

  .form-button-row {
    width: 50%;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
    .review-button {
      font-size: 16px;

      border-radius: 5px;
      background-color: lightgoldenrodyellow;
      color: lightslategray
    }

.review-list {
  width: 100%;
  margin-bottom: 50px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-container {
  width: 60%;
  margin-top: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
  .review-box {
    width: 90%;
    margin: 0;
    padding:  0 30px 10px 30px;

    border: solid 1px lightslategray;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
  }
    
    .button-row {
      width: 100%;
      height: 30px;
      margin-left: -25px;

      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
    }
      .buttomImg {
        width: 20px;
        height: 20px;
        margin: 5px 3px 0 0;

        border-radius: 50%;
        background-color: whitesmoke;
      }
      .result-area {
        margin-left: 10px;
        color: red;
      }

    .review-info-row, .score-row {
      width: 100%;
      margin: 0;
      padding: 0;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      font-weight: bold;

    }
      .score {
        margin: 0;
        padding: 0;
      }

    .comment-txt {
      width: 100%;
      margin: 0;
      padding: 0;

      text-align: left;
      font-weight: bold;
    }


/*************SelectList.js***********/


  .select-item-list {
    width: 400px;
    height: 30px;
    font-size: 20px;

    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    color: lightslategray
  }